body{
    background-color: #a87f5a;
    display: flex;
    justify-content: center; /* Centraliza na horizontal */
    align-items: center; /* Centraliza na vertical */
    height: 100vh; /* Faz o body ocupar 100% da tela */
    margin: 0;
}

#msg {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.login {
    background-color: #faeee0;
    color: #a87f5a;
    align-items: center;
    padding: 65px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    width: 300px; /* <- Isso impede que a caixa se expanda */
}

.campo {
    padding:2px;
}

.campo input{
    border-style: none;
    outline: none;
    padding: 6px;
    border-radius: 5px; 
}

button{ 
    background-color: #a87f5a;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    color: aliceblue;
    margin-top: 20px;
    padding: 15px;
    transition: background-color 0.5s;
}

button:hover {
    background-color: rgb(187, 168, 107); 
}

.erro {
    color: rgb(218, 6, 6);
    font-size: 12px;
    min-height: 18px;
    visibility: hidden; /* Esconde o texto, mas mantém o espaço */
    margin-top: 5px;
    font-style: italic;
}

@media  screen and (max-width: 768px) {
    body {
        overflow: hidden; /* evita rolagem */
    }

    .login {
        padding: 30px;
        border-radius: 8px;
        font-size: 20px;
        color: #81654c;
        margin-top: 20px;
    }

    button{
        background-color: #a87f5a;
    }
    button:hover {
        background-color: #a87f5a; 
    }

    #msg {
        color: white;
    }

}




