body {
margin: 0; /* para ocupar a largura da tela*/
padding: 0; /* */
}

.menu {
    background-color: rgb(166, 197, 197);
    display: flex; /* ativa o flexblox */
    width: 100%;
    position: fixed;
    top: 0;
    justify-content: center; /* centraliza os itens do menu */
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;  /* Deixa os itens distribuídos no menu (um no canto, meio e canto)*/
    align-items: center;
    margin: 20px;
    padding: 0px;
    width: 80%; /* Faz com que o menu ocupe 80% da largura da tela */
    font-size: 55px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.imgMenu {
    width: 70px;
}

/* Adiciona uma margem superior para empurrar o conteúdo para baixo */
.conteudo {
    margin-top: 130px; /* Ajuste o valor conforme a altura do seu menu */
}

.pesquisa {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
} 

input {
    padding: 15px;
    width: 50%;
}

#botaoBuscar {
    padding: 15px;
    cursor: pointer;
}

.botaoMenu {
    cursor: pointer;
    background-color: rgb(166, 197, 197);
    border-style: none;
}

.receitas {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens "quebrem" e fiquem em várias linhas */
    justify-content: space-between; /* Espaçamento entre as imagens */
    gap: 20px; /* Espaçamento entre as imagens */
    padding: 8px;
}

.individual {
    width: 30%; /* Cada item ocupa 30% da largura da linha. pode ser px ou % */
    text-align: center; /* Centraliza o texto abaixo das imagens */
}

.individual img {
    width: 90%; /* a imagem ocupa x% do item que ela está inserida (o .individual)*/
    height: auto; /* Mantém a proporção da imagem */
}

